# Satusehat (Satu Sehat) - FHIR OAuth2
# Isi sesuai kredensial dari akun Satusehat kamu.

SATUSEHAT_BASE_URL=
SATUSEHAT_TOKEN_URL=

# Umum: client_credentials
SATUSEHAT_GRANT_TYPE=client_credentials
# Jika Satusehat butuh scope, isi; jika tidak boleh kosong
SATUSEHAT_SCOPE=

SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=

